text {
    color: black;
    font-size: 16.0;
    font: "fonts/FiraSans-Bold.ttf"
}

.main-menu {
    align-items: center;
    justify-content: center;
}

.main-menu text {
    color: white;
    font-size: 50.0
}

.main-menu button {
    background-color: grey;
    size: 300px, 50px;
    margin: 10px;
    border-width: 2.5px;
    border-radius: 10px;
    border-color: grey;
    padding: 0px 10px 0px 10px;
}

.main-menu button:hover {
    border-color: cyan;
}

button:hover text {
    color: cyan;
}
